* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a:visited {
    color: black
  }
  
  .wrap {
    justify-content: center;
    /* 화면 가운데 정렬 */
    align-items: center;
  
  }
  
  .head1 {
    align-items: center;
  
  }
  
  .head {
    display: flex;
    text-align: center;
    position: relative;
    margin-left: 300px;
    width: 1500px;
  
  }
  .head .logo {
    display: flex;
    
  }
  .head h1 {
    justify-items: center;
    opacity: 0.8;
    padding-top: 5px;
  }
  .head h1 a{
    font-size: 30px;
  }
  .menu-bar {
    width: 800px;
    height: 30px ;
  
  }
  
  .menu-bar ul {
    display:flex;
    padding-top: 10px;
    margin-left: 60px;
  }
  
  .menu-bar ul li {
    display: inline-block;
    margin-left: 70px;
    font-weight: 800;
    font-size: 25px;
   
  }
  
  .menu-bar ul li a , .menu-bar ul li h1 a{
    text-decoration: none;
    font-size: 18px;
    display: inline;
  }
  
  .head h1 a {
    text-decoration: none;
  }
  
  .login a {
    text-decoration: none;
  }
  
  .login {
    position: relative;
    float: right;
    list-style: none;
    width: auto;
  
  }
  .loginmom {
    margin-right: 300px
  }
  .login li {
    padding: 0 30px; 
  }
  
  .body {
    min-height: 100%;
    padding-bottom: 0 auto;
    position: static;
  }
  .introduce {
    margin: 10px 300px 30px 300px;
  }
  
  .introduce .introduce_box {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 2px solid blue;
    height: 300px;
  }
  .introduce li {
    font-size: 30px;
    border: 2px solid black;
    width: calc(100% / 4);
  }
  
  .introduce_box li div {
    border: 2px solid red;
    position: relative;
    width: 321px;
    height: 300px;
    
  }
  
  .watch {
    width: 340px;
    height: 300px;
    background:  url(../img/uyu2.jpg);
    background-size: contain;
  }
  .watch1 {
    width: 340px;
    height: 300px;
    background:  url(../img/uyu3.jpg);
    background-size: contain;
  }
  .watch2 {
    width: 340px;
    height: 300px;
    background:  url(../img/uyu4.png);
    background-size: contain;
  }
  .watch3 {
    width: 340px;
    height: 300px;
    background:  url(../img/uyu5.jpg);
    background-size: contain;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  .introduce_box li div h2 {
    border: 2px solid green; /* 다 만들었을경우 선 없애도 됨 */
    position: absolute;
    top: 40%;
    width: 100%;
  }
  
  .introduce_box li div p {
    border: 2px solid darkmagenta;
    font-size: 16px;
    position: absolute;
      bottom: 2px;
    margin-left: 85px;
    padding: 20px 30px;
    background-color: white;
    color: blue;
    font-size: 15px;
  }
  
  #map_ {
    margin: 50px;
  }
  
  .map_info {
    
  }
  
  .map_info2 {
    text-align: center;
  }
  
  ul,
  li {
    list-style: none;
  }
  
  .footer {
    position: static;
    bottom: 0;
    padding: 10px 0;
    text-align: center;
    background: #eff2f7;
    opacity: 0.80;
    width: 100%;
    display: block;
    height: 400px;
  }
  
  .footer_top {
    list-style: none;
  }
  .footer_site {
    margin-top: 15px;
  }
  .footer li {
    display: inline;
    margin: 40px;
  }
  .footer_bottom {
    margin-top : 20px;
    color:#7a828d;
  }
  
  
  
  
  
  .slide_box {
    position: static;
  }
  
  .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  
  }
  
  
  .mySlides {
    display: none;
  
  }
  
  .mySlides img {
    width: 100%;
    height: 600px;
    object-fit: cover; /* cover 로 바꾸세요      */
    width: 100%;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .hidden {
    visibility: hidden;
  }
  
  .active,
  .dot:hover {
    background-color: #717171;
  }
  
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {
      opacity: .4
    }
  
    to {
      opacity: 1
    }
  }
  
  @keyframes fade {
    from {
      opacity: .4
    }
  
    to {
      opacity: 1
    }
  }
  
  @media only screen and (max-width: 300px) {
  
    .prev,
    .next,
    .text {
      font-size: 11px
    }
  }
  .bb {
    width: 100px;
    height: 50px;
  }